In [1]:
!pip install financedatabase
!pip install yfinance
!pip install --upgrade financedatabase

Requirement already satisfied: financedatabase in /Users/daniel/anaconda3/lib/python3.10/site-packages (2.1.0)
Requirement already satisfied: pandas in /Users/daniel/anaconda3/lib/python3.10/site-packages (from financedatabase) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/daniel/anaconda3/lib/python3.10/site-packages (from pandas->financedatabase) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/daniel/anaconda3/lib/python3.10/site-packages (from pandas->financedatabase) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in /Users/daniel/anaconda3/lib/python3.10/site-packages (from pandas->financedatabase) (1.23.5)
Requirement already satisfied: six>=1.5 in /Users/daniel/anaconda3/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas->financedatabase) (1.16.0)
Requirement already satisfied: yfinance in /Users/daniel/anaconda3/lib/python3.10/site-packages (0.2.18)
Requirement already satisfied: lxml>=4.9.1 in /Users/daniel/anaconda3/lib/python3.10/site-packages (from yfinance) (4.9.1)
Requirement already satisfied: pytz>=2022.5 in /Users/daniel/anaconda3/lib/python3.10/site-packages (from yfinance) (2022.7)
Requirement already satisfied: multitasking>=0.0.7 in /Users/daniel/anaconda3/lib/python3.10/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /Users/daniel/anaconda3/lib/python3.10/site-packages (from yfinance) (4.11.1)
Requirement already satisfied: html5lib>=1.1 in /Users/daniel/anaconda3/lib/python3.10/site-packages (from yfinance) (1.1)
Requirement already satisfied: appdirs>=1.4.4 in /Users/daniel/anaconda3/lib/python3.10/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: requests>=2.26 in /Users/daniel/anaconda3/lib/python3.10/site-packages (from yfinance) (2.28.1)
Requirement already satisfied: numpy>=1.16.5 in /Users/daniel/anaconda3/lib/python3.10/site-packages (from yfinance) (1.23.5)
Requirement already satisfied: cryptography>=3.3.2 in /Users/daniel/anaconda3/lib/python3.10/site-packages (from yfinance) (39.0.1)
Requirement already satisfied: frozendict>=2.3.4 in /Users/daniel/anaconda3/lib/python3.10/site-packages (from yfinance) (2.3.8)
Requirement already satisfied: pandas>=1.3.0 in /Users/daniel/anaconda3/lib/python3.10/site-packages (from yfinance) (1.5.3)
Requirement already satisfied: soupsieve>1.2 in /Users/daniel/anaconda3/lib/python3.10/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.2.post1)
Requirement already satisfied: cffi>=1.12 in /Users/daniel/anaconda3/lib/python3.10/site-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: six>=1.9 in /Users/daniel/anaconda3/lib/python3.10/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /Users/daniel/anaconda3/lib/python3.10/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/daniel/anaconda3/lib/python3.10/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/daniel/anaconda3/lib/python3.10/site-packages (from requests>=2.26->yfinance) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in /Users/daniel/anaconda3/lib/python3.10/site-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/daniel/anaconda3/lib/python3.10/site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/daniel/anaconda3/lib/python3.10/site-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: pycparser in /Users/daniel/anaconda3/lib/python3.10/site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Requirement already satisfied: financedatabase in /Users/daniel/anaconda3/lib/python3.10/site-packages (2.1.0)
Requirement already satisfied: pandas in /Users/daniel/anaconda3/lib/python3.10/site-packages (from financedatabase) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/daniel/anaconda3/lib/python3.10/site-packages (from pandas->financedatabase) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/daniel/anaconda3/lib/python3.10/site-packages (from pandas->financedatabase) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in /Users/daniel/anaconda3/lib/python3.10/site-packages (from pandas->financedatabase) (1.23.5)
Requirement already satisfied: six>=1.5 in /Users/daniel/anaconda3/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas->financedatabase) (1.16.0)

In [2]:
import yfinance as yf
Stocks = ["FRDAX", "LMMRX", "LMPIX", "RTMTX", "MRGAX", "NSBFX",
"ITHIX", "AFYDX", "FDETX","RUSTX", "SCRLX", "AFNAX", 
"GATCX", "AEYCX", "OMSOX", "TFFCX", "GSUSX", "EVSHX",
"MCSSX","RTDYX","DRDCX","GSRLX","STRSX","MLVAX","PLJMX",
"VDSCX","MUOSX", "AUUAX","CLSUX","PJDAX","RYSPX","REDWX"
         ,"JHJCX","PFESX","ACUSX","NDGCX","QTSSX","QUAGX",
          "CDGCX","GALLX","VELAX","IICAX","IICHX","QSPMX",
          "IMSCX", "VOLMX","QRDTX","FLRYX","PAGHX","GCGVX",
          "AMLCX","AXSPX","AXSPX","SMDFX","FSEWX","MISEX",
          "CADVX","SGPKX","LDPCX","ACALX","SFFIX","ETLCX",
          "SGFIX","TILDX","FAPSX","JHFEX","SBQAX","SROAX",
          "VTI", "VOO", "SPY", "IVV", "VIG",
                  "ITOT", "RSP", "SCHX", "SPLG", 
                  "GSLC", "FTCS"]

#Download stock data
Stocks = yf.download(Stocks, start="2016-01-01", end="2023-04-30")

#only close
adj_close_stocks = Stocks.xs('Adj Close', level=0, axis=1)

# Define the desired column order
desired_columns = ["FRDAX", "LMMRX", "LMPIX", "MRGAX", "NSBFX",
"ITHIX",  "FDETX", "SCRLX", "AFNAX", 
"GATCX", "AEYCX", "OMSOX", "TFFCX", "GSUSX", "EVSHX",
"MCSSX","RTDYX","DRDCX","GSRLX","STRSX","MLVAX","PLJMX",
"VDSCX","MUOSX", "AUUAX","CLSUX","PJDAX","RYSPX","REDWX"
         ,"JHJCX","PFESX","ACUSX","NDGCX","QTSSX","QUAGX",
          "CDGCX","GALLX","VELAX","IICAX","IICHX","QSPMX",
          "IMSCX", "VOLMX","QRDTX","FLRYX","PAGHX","GCGVX",
          "AMLCX","AXSPX","AXSPX","SMDFX","FSEWX","MISEX",
          "CADVX","SGPKX","LDPCX","SFFIX",
          "TILDX","FAPSX","JHFEX","SBQAX"
                   
                   ,"VTI", "VOO", "SPY", "IVV", "VIG",
                  "ITOT", "RSP", "SCHX", "SPLG", 
                  "GSLC", "FTCS"]

# Reorder the columns in the dataframe
adj_close_stocks = adj_close_stocks.reindex(columns=desired_columns)

# Print the dataframe with only 'Adj Close'
adj_close_stocks

[*********************100%***********************]  78 of 78 completed

4 Failed downloads:
- SGFIX: Data doesn't exist for startDate = 1451624400, endDate = 1682827200
- ACALX: Data doesn't exist for startDate = 1451624400, endDate = 1682827200
- SROAX: Data doesn't exist for startDate = 1451624400, endDate = 1682827200
- ETLCX: Data doesn't exist for startDate = 1451624400, endDate = 1682827200

,FRDAX,LMMRX,LMPIX,MRGAX,NSBFX,ITHIX,FDETX,SCRLX,AFNAX,GATCX,...,VOO,SPY,IVV,VIG,ITOT,RSP,SCHX,SPLG,GSLC,FTCS
Date,,,,,,,,,,,,,,,,,,,,,
2016-01-04,35.795307,12.609807,13.139203,17.293032,22.998018,17.886992,8.231673,20.646921,11.031865,23.584940,...,161.455688,176.563507,177.615906,66.604195,40.280579,66.903465,21.101311,20.461607,36.678509,34.278027
2016-01-05,35.871399,12.650182,13.165869,17.349682,23.040583,17.892290,8.225355,20.679243,11.100542,23.566084,...,161.744766,176.862137,177.985214,66.821236,40.351028,67.062363,21.145411,20.630173,36.757389,34.515167
2016-01-06,35.369171,12.522336,13.019212,17.094748,22.707165,17.574394,8.061100,20.415300,10.980352,23.269152,...,159.694885,174.631195,175.655075,66.013840,39.778618,65.835358,20.871986,20.323694,36.328930,34.141201
2016-01-07,34.661484,12.280098,12.745894,16.726509,22.210609,17.086954,7.827354,19.973598,10.739971,22.783689,...,155.805466,170.441544,171.452133,64.798447,38.823112,64.343491,20.373678,19.944981,35.602890,33.402370
2016-01-08,34.227734,12.179166,12.612570,16.492821,21.969418,16.869726,7.738910,19.741972,10.619780,22.576307,...,154.149826,168.570709,169.552826,64.129959,38.365192,63.557861,20.144367,19.761087,35.136791,33.001045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-04-24,86.599998,27.370001,28.799999,40.490002,51.770000,35.220001,18.809999,52.189999,22.270000,42.619999,...,379.089996,412.630005,414.410004,156.889999,90.970001,145.190002,48.650002,48.520000,81.800003,73.860001
2023-04-25,85.300003,27.049999,28.420000,39.849998,51.150002,34.619999,18.440001,51.580002,22.049999,42.139999,...,373.100006,406.079987,407.829987,154.990005,89.419998,142.720001,47.849998,47.750000,80.529999,73.089996
2023-04-26,84.889999,26.870001,28.280001,39.730000,50.820000,34.480000,18.360001,51.590000,21.790001,41.770000,...,371.440002,404.359985,406.170013,153.669998,89.029999,141.229996,47.669998,47.560001,80.190002,72.070000
2023-04-27,86.120003,27.320000,28.840000,40.439999,51.660000,35.020000,18.680000,52.759998,22.010000,42.439999,...,378.809998,412.410004,414.230011,156.190002,90.690002,143.550003,48.580002,48.470001,81.690002,73.029999
2023-04-28,86.790001,27.590000,29.059999,40.770000,52.160000,35.270000,18.860001,53.169998,22.250000,42.669998,...,382.049988,415.929993,417.660004,157.570007,91.470001,145.139999,48.990002,48.900002,82.349998,73.529999

In [3]:
import pandas as pd

# Assuming adj_close_stocks is your DataFrame
na_values = adj_close_stocks.isna().sum()

# Filter columns with NA values
columns_with_na = na_values[na_values > 0]

# Print columns with NA values
print(columns_with_na)

STRSX     524
MUOSX     101
JHJCX     108
PFESX    1089
ACUSX    1278
QTSSX    1299
VELAX    1194
QSPMX     920
QRDTX    1329
PAGHX     102
AXSPX    1687
AXSPX    1687
SMDFX     922
FSEWX    1371
SGPKX    1114
SFFIX    1250
FAPSX    1682
JHFEX    1641
SBQAX     271
dtype: int64

In [4]:
import pandas as pd

# Assuming adj_close_stocks is your DataFrame
tickers_with_na = ["STRSX", "MUOSX", "JHJCX", "PFESX", "ACUSX", "QTSSX",
                   "VELAX", "QSPMX", "QRDTX", "PAGHX", "AXSPX", "AXSPX",
                   "SMDFX", "FSEWX", "SGPKX", "SFFIX", "FAPSX", "JHFEX",
                   "SBQAX"]

# Create a new DataFrame without columns with NA values
adj_close_stocks_filtered = adj_close_stocks.drop(columns=tickers_with_na)

# Print the new DataFrame
adj_close_stocks_filtered

,FRDAX,LMMRX,LMPIX,MRGAX,NSBFX,ITHIX,FDETX,SCRLX,AFNAX,GATCX,...,VOO,SPY,IVV,VIG,ITOT,RSP,SCHX,SPLG,GSLC,FTCS
Date,,,,,,,,,,,,,,,,,,,,,
2016-01-04,35.795307,12.609807,13.139203,17.293032,22.998018,17.886992,8.231673,20.646921,11.031865,23.584940,...,161.455688,176.563507,177.615906,66.604195,40.280579,66.903465,21.101311,20.461607,36.678509,34.278027
2016-01-05,35.871399,12.650182,13.165869,17.349682,23.040583,17.892290,8.225355,20.679243,11.100542,23.566084,...,161.744766,176.862137,177.985214,66.821236,40.351028,67.062363,21.145411,20.630173,36.757389,34.515167
2016-01-06,35.369171,12.522336,13.019212,17.094748,22.707165,17.574394,8.061100,20.415300,10.980352,23.269152,...,159.694885,174.631195,175.655075,66.013840,39.778618,65.835358,20.871986,20.323694,36.328930,34.141201
2016-01-07,34.661484,12.280098,12.745894,16.726509,22.210609,17.086954,7.827354,19.973598,10.739971,22.783689,...,155.805466,170.441544,171.452133,64.798447,38.823112,64.343491,20.373678,19.944981,35.602890,33.402370
2016-01-08,34.227734,12.179166,12.612570,16.492821,21.969418,16.869726,7.738910,19.741972,10.619780,22.576307,...,154.149826,168.570709,169.552826,64.129959,38.365192,63.557861,20.144367,19.761087,35.136791,33.001045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-04-24,86.599998,27.370001,28.799999,40.490002,51.770000,35.220001,18.809999,52.189999,22.270000,42.619999,...,379.089996,412.630005,414.410004,156.889999,90.970001,145.190002,48.650002,48.520000,81.800003,73.860001
2023-04-25,85.300003,27.049999,28.420000,39.849998,51.150002,34.619999,18.440001,51.580002,22.049999,42.139999,...,373.100006,406.079987,407.829987,154.990005,89.419998,142.720001,47.849998,47.750000,80.529999,73.089996
2023-04-26,84.889999,26.870001,28.280001,39.730000,50.820000,34.480000,18.360001,51.590000,21.790001,41.770000,...,371.440002,404.359985,406.170013,153.669998,89.029999,141.229996,47.669998,47.560001,80.190002,72.070000
2023-04-27,86.120003,27.320000,28.840000,40.439999,51.660000,35.020000,18.680000,52.759998,22.010000,42.439999,...,378.809998,412.410004,414.230011,156.190002,90.690002,143.550003,48.580002,48.470001,81.690002,73.029999
2023-04-28,86.790001,27.590000,29.059999,40.770000,52.160000,35.270000,18.860001,53.169998,22.250000,42.669998,...,382.049988,415.929993,417.660004,157.570007,91.470001,145.139999,48.990002,48.900002,82.349998,73.529999

In [5]:
import yfinance as yf

#Define tickers
_mf = ["FRDAX", "LMMRX", "LMPIX", "MRGAX", "NSBFX",
"ITHIX",  "FDETX", "SCRLX", "AFNAX", 
"GATCX", "AEYCX", "OMSOX", "TFFCX", "GSUSX", "EVSHX",
"MCSSX","RTDYX","DRDCX","GSRLX","STRSX","MLVAX","PLJMX",
"VDSCX","MUOSX", "AUUAX","CLSUX","PJDAX","RYSPX","REDWX"
         ,"JHJCX","PFESX","ACUSX","NDGCX","QTSSX","QUAGX",
          "CDGCX","GALLX","VELAX","IICAX","IICHX","QSPMX",
          "IMSCX", "VOLMX","QRDTX","FLRYX","PAGHX","GCGVX",
          "AMLCX","AXSPX","AXSPX","SMDFX","FSEWX","MISEX",
          "CADVX","SGPKX","LDPCX","SFFIX",
          "TILDX","FAPSX","JHFEX","SBQAX"]

ticker_mf = [ticker for ticker in _mf if ticker not in tickers_with_na]
         
ticker_etf = ["VOO", "SPY", "IVV",
              "RSP",  "SPLG"]

In [6]:
# Assign dates
start_date_normal = '2016-01-04'
end_date_normal = '2019-12-31'
start_date_crisis = '2020-01-01'
end_date_crisis = '2023-04-28'

In [7]:
import pandas_datareader as pdr
import numpy as np

# Define the Treasury rate series code
treasury_rate_series = 'DGS1'

# Download Treasury rates
treasury_rates = pdr.get_data_fred(treasury_rate_series, start_date_normal, end_date_crisis)

# Print the downloaded data
rf_yearly = treasury_rates/100
rf_yearly = rf_yearly.dropna()
rf_daily = np.exp(rf_yearly / 252) - 1
rf_daily.index.names = ['Date']  # Rename the index of etf_portfolio_returns
rf_daily = rf_daily.rename(columns={'DGS1': 'rf'})
rf_daily

                  rf
Date
2016-01-04  0.000024
2016-01-05  0.000027
2016-01-06  0.000027
2016-01-07  0.000026
2016-01-08  0.000025
...              ...
2023-04-24  0.000189
2023-04-25  0.000183
2023-04-26  0.000184
2023-04-27  0.000190
2023-04-28  0.000190

[1832 rows x 1 columns]

In [8]:
daily_returns = adj_close_stocks_filtered.pct_change()
daily_returns = daily_returns.iloc[1:]

In [9]:
import pandas as pd

# First, let's isolate the relevant data
etf_df = daily_returns[ticker_etf].copy()
mf_df = daily_returns[ticker_mf].copy()

# Then, create equally weighted portfolio returns
etf_portfolio_returns = etf_df.mean(axis=1)
mf_portfolio_returns = mf_df.mean(axis=1)
etf_portfolio_returns = etf_portfolio_returns.to_frame(name='Returns')
mf_portfolio_returns = mf_portfolio_returns.to_frame(name='Returns')

In [10]:
import yfinance as yf

# Download S&P 500 data (only Adj Close) from 2016 to present
ticker = '^SP500TR'  # Ticker symbol for S&P 500
start_date = '2016-01-01'
end_date = '2023-04-29'
sp500_adjclose = yf.download(ticker, start=start_date, end=end_date)['Adj Close']
sp500_returns = sp500_adjclose.pct_change().dropna()

[*********************100%***********************]  1 of 1 completed

In [11]:
etf_portfolio = pd.merge(etf_portfolio_returns, rf_daily, left_index=True, right_index=True)
mf_portfolio = pd.merge(mf_portfolio_returns, rf_daily, left_index=True, right_index=True)
sp500 = pd.merge(sp500_returns, rf_daily, left_index=True, right_index=True)
sp500 = sp500.rename(columns={'Adj Close': 'Returns'})

In [12]:
mf_portfolio['ExcessReturns'] = mf_portfolio['Returns'] - mf_portfolio['rf']
etf_portfolio['ExcessReturns'] = etf_portfolio['Returns'] - etf_portfolio['rf']
sp500['ExcessReturns'] = sp500['Returns'] - sp500['rf']

In [13]:
mf_portfolio['Volatility'] = mf_portfolio['Returns'].rolling(window=30, min_periods=1).std()
etf_portfolio['Volatility'] = etf_portfolio['Returns'].rolling(window=30, min_periods=1).std()
sp500['Volatility'] = sp500['Returns'].rolling(window=30, min_periods=1).std()

In [14]:
sp500_vol = sp500_returns.rolling(window=30, min_periods=1).std()
sp500_vol = sp500_vol.drop(sp500_vol.index[0])

In [15]:
df =  mf_portfolio['ExcessReturns']-etf_portfolio['ExcessReturns']
df

Date
2016-01-05   -0.001788
2016-01-06    0.001055
2016-01-07   -0.000303
2016-01-08   -0.000594
2016-01-11    0.000939
                ...
2023-04-24    0.000056
2023-04-25    0.000874
2023-04-26   -0.000747
2023-04-27   -0.001182
2023-04-28   -0.000373
Name: ExcessReturns, Length: 1829, dtype: float64

In [16]:
df = pd.merge(df, sp500_vol, left_index=True, right_index=True)
df.rename(columns={'Adj Close': 'VolSP'}, inplace=True)
df

            ExcessReturns     VolSP
Date
2016-01-06       0.001055  0.010448
2016-01-07      -0.000303  0.012892
2016-01-08      -0.000594  0.010531
2016-01-11       0.000939  0.010620
2016-01-12       0.002389  0.011689
...                   ...       ...
2023-04-24       0.000056  0.008139
2023-04-25       0.000874  0.008767
2023-04-26      -0.000747  0.008364
2023-04-27      -0.001182  0.008859
2023-04-28      -0.000373  0.008446

[1828 rows x 2 columns]

In [17]:
mf_portfolio = pd.merge(mf_portfolio, sp500_vol, left_index=True, right_index=True)
mf_portfolio.rename(columns={'Adj Close': 'VolSP'}, inplace=True)
mf_portfolio

             Returns        rf  ExcessReturns  Volatility     VolSP
Date
2016-01-06 -0.013252  0.000027      -0.013278    0.010393  0.010448
2016-01-07 -0.023017  0.000026      -0.023043    0.012314  0.012892
2016-01-08 -0.011416  0.000025      -0.011442    0.010055  0.010531
2016-01-11 -0.000158  0.000025      -0.000183    0.010091  0.010620
2016-01-12  0.007797  0.000025       0.007772    0.011405  0.011689
...              ...       ...            ...         ...       ...
2023-04-24  0.001359  0.000189       0.001170    0.008032  0.008139
2023-04-25 -0.015213  0.000183      -0.015395    0.008527  0.008767
2023-04-26 -0.006182  0.000184      -0.006366    0.008235  0.008364
2023-04-27  0.017849  0.000190       0.017659    0.008485  0.008859
2023-04-28  0.008691  0.000190       0.008500    0.008160  0.008446

[1828 rows x 5 columns]

In [18]:
etf_portfolio = pd.merge(etf_portfolio, sp500_vol, left_index=True, right_index=True)
etf_portfolio.rename(columns={'Adj Close': 'VolSP'}, inplace=True)
etf_portfolio

             Returns        rf  ExcessReturns  Volatility     VolSP
Date
2016-01-06 -0.014306  0.000027      -0.014333    0.012403  0.010448
2016-01-07 -0.022714  0.000026      -0.022740    0.013239  0.012892
2016-01-08 -0.010822  0.000025      -0.010847    0.010812  0.010531
2016-01-11 -0.001097  0.000025      -0.001122    0.010387  0.010620
2016-01-12  0.005408  0.000025       0.005383    0.011027  0.011689
...              ...       ...            ...         ...       ...
2023-04-24  0.001303  0.000189       0.001114    0.008307  0.008139
2023-04-25 -0.016087  0.000183      -0.016270    0.008892  0.008767
2023-04-26 -0.005435  0.000184      -0.005619    0.008554  0.008364
2023-04-27  0.019031  0.000190       0.018841    0.008991  0.008859
2023-04-28  0.009063  0.000190       0.008873    0.008689  0.008446

[1828 rows x 5 columns]

In [19]:
import pandas_datareader as pdr

# Define the GDP series code
gdp_series = 'GDP'

# Define your start and end dates
start_date = '2016-01-01'
end_date = '2023-05-31'

# Download GDP data
gdp = pdr.get_data_fred(gdp_series, start_date, end_date)

# Convert to daily frequency using linear interpolation
gdp_daily = gdp.resample('D').interpolate('linear')
gdp_daily

                     GDP
DATE
2016-01-01  18425.306000
2016-01-02  18427.353374
2016-01-03  18429.400747
2016-01-04  18431.448121
2016-01-05  18433.495495
...                  ...
2022-12-28  26471.143739
2022-12-29  26474.929554
2022-12-30  26478.715370
2022-12-31  26482.501185
2023-01-01  26486.287000

[2558 rows x 1 columns]

In [20]:
import pandas_datareader.data as web
import datetime

# Define start and end dates
start = datetime.datetime(2016, 1, 1)
end = datetime.datetime(2023, 12, 31)

# FRED codes for 1-month, 1-year, and 10-year Treasury yield
series = ['DGS1MO', 'DGS1', 'DGS10']

# Fetch the data
yield_data = web.DataReader(series, 'fred', start, end)

# Compute the slope of the yield curve
yield_data['YieldCurve'] = yield_data['DGS10'] - yield_data['DGS1MO']

# Compute the daily percentage change of the yield curve
yield_data['YieldCurve_pct_change'] = yield_data['YieldCurve'].pct_change()

# Drop missing values
yield_data = yield_data.dropna()

# Print the data
yield_data

            DGS1MO  DGS1  DGS10  YieldCurve  YieldCurve_pct_change
DATE
2016-01-05    0.20  0.68   2.25        2.05              -0.009662
2016-01-06    0.21  0.67   2.18        1.97              -0.039024
2016-01-07    0.20  0.66   2.16        1.96              -0.005076
2016-01-08    0.20  0.64   2.13        1.93              -0.015306
2016-01-11    0.19  0.63   2.17        1.98               0.025907
...            ...   ...    ...         ...                    ...
2023-05-25    5.95  5.24   3.83       -2.12               0.060000
2023-05-26    6.02  5.25   3.80       -2.22               0.047170
2023-05-30    5.31  5.22   3.69       -1.62              -0.270270
2023-05-31    5.28  5.18   3.64       -1.64               0.012346
2023-06-01    5.30  5.11   3.61       -1.69               0.030488

[1853 rows x 5 columns]

In [21]:
df = pd.merge(df, yield_data['YieldCurve_pct_change'], left_index=True, right_index=True)
df

            ExcessReturns     VolSP  YieldCurve_pct_change
2016-01-06       0.001055  0.010448              -0.039024
2016-01-07      -0.000303  0.012892              -0.005076
2016-01-08      -0.000594  0.010531              -0.015306
2016-01-11       0.000939  0.010620               0.025907
2016-01-12       0.002389  0.011689              -0.040404
...                   ...       ...                    ...
2023-04-24       0.000056  0.008139              -1.095238
2023-04-25       0.000874  0.008767              34.500000
2023-04-26      -0.000747  0.008364              -0.323944
2023-04-27      -0.001182  0.008859               0.541667
2023-04-28      -0.000373  0.008446               0.229730

[1827 rows x 3 columns]

In [22]:
mf_portfolio = pd.merge(etf_portfolio,gdp_daily, left_index=True, right_index=True)
mf_portfolio

,Returns,rf,ExcessReturns,Volatility,VolSP,GDP
2016-01-06,-0.014306,0.000027,-0.014333,0.012403,0.010448,18435.542868
2016-01-07,-0.022714,0.000026,-0.022740,0.013239,0.012892,18437.590242
2016-01-08,-0.010822,0.000025,-0.010847,0.010812,0.010531,18439.637615
2016-01-11,-0.001097,0.000025,-0.001122,0.010387,0.010620,18445.779736
2016-01-12,0.005408,0.000025,0.005383,0.011027,0.011689,18447.827110
...,...,...,...,...,...,...
2022-12-23,0.005845,0.000185,0.005660,0.015262,0.011730,26452.214663
2022-12-27,-0.003071,0.000189,-0.003259,0.011383,0.011588,26467.357924
2022-12-28,-0.012647,0.000187,-0.012834,0.011494,0.011676,26471.143739
2022-12-29,0.017690,0.000187,0.017503,0.011876,0.012045,26474.929554
2022-12-30,-0.002755,0.000188,-0.002942,0.011802,0.011977,26478.715370

In [23]:
etf_portfolio = pd.merge(etf_portfolio,yield_data['YieldCurve'], left_index=True, right_index=True)
etf_portfolio

,Returns,rf,ExcessReturns,Volatility,VolSP,YieldCurve
2016-01-06,-0.014306,0.000027,-0.014333,0.012403,0.010448,1.97
2016-01-07,-0.022714,0.000026,-0.022740,0.013239,0.012892,1.96
2016-01-08,-0.010822,0.000025,-0.010847,0.010812,0.010531,1.93
2016-01-11,-0.001097,0.000025,-0.001122,0.010387,0.010620,1.98
2016-01-12,0.005408,0.000025,0.005383,0.011027,0.011689,1.90
...,...,...,...,...,...,...
2023-04-24,0.001303,0.000189,0.001114,0.008307,0.008139,-0.02
2023-04-25,-0.016087,0.000183,-0.016270,0.008892,0.008767,-0.71
2023-04-26,-0.005435,0.000184,-0.005619,0.008554,0.008364,-0.48
2023-04-27,0.019031,0.000190,0.018841,0.008991,0.008859,-0.74
2023-04-28,0.009063,0.000190,0.008873,0.008689,0.008446,-0.91

In [24]:
import statsmodels.api as sm

# Define your dependent variable (y) and your independent variables (X)
y = etf_portfolio['ExcessReturns']
X = etf_portfolio[['VolSP', 'YieldCurve']]

# Add a constant to the independent variables matrix (this is the intercept term)
X = sm.add_constant(X)

# Fit the model
model = sm.OLS(y, X)
results = model.fit()

# Print out the results 
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          ExcessReturns   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                 -0.001
Method:                 Least Squares   F-statistic:                    0.4606
Date:                Sat, 03 Jun 2023   Prob (F-statistic):              0.631
Time:                        14:15:07   Log-Likelihood:                 5483.3
No. Observations:                1827   AIC:                        -1.096e+04
Df Residuals:                    1824   BIC:                        -1.094e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0002      0.001      0.282      0.778      -0.001       0.001
VolSP          0.0371      0.041      0.904      0.366      -0.043       0.117
YieldCurve -7.482e-05      0.000     -0.201      0.841      -0.001       0.001
==============================================================================
Omnibus:                      519.155   Durbin-Watson:                   2.312
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            16173.906
Skew:                          -0.684   Prob(JB):                         0.00
Kurtosis:                      17.512   Cond. No.                         219.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [25]:
import numpy as np

# Calculate the difference between portfolio returns and benchmark returns
tracking_error_etf = etf_portfolio['Returns'] - sp500['Returns']
tracking_error_volatility_etf = tracking_error_etf.rolling(window=30, min_periods=1).std()
tracking_error_mf = mf_portfolio['Returns'] - sp500['Returns']
tracking_error_volatility_mf = tracking_error_mf.rolling(window=30, min_periods=1).std()

mf_portfolio['TrErr'] = tracking_error_volatility_mf
etf_portfolio['TrErr'] = tracking_error_volatility_etf
mf_portfolio

,Returns,rf,ExcessReturns,Volatility,VolSP,GDP,TrErr
2016-01-06,-0.014306,0.000027,-0.014333,0.012403,0.010448,18435.542868,NaN
2016-01-07,-0.022714,0.000026,-0.022740,0.013239,0.012892,18437.590242,0.001772
2016-01-08,-0.010822,0.000025,-0.010847,0.010812,0.010531,18439.637615,0.001265
2016-01-11,-0.001097,0.000025,-0.001122,0.010387,0.010620,18445.779736,0.001356
2016-01-12,0.005408,0.000025,0.005383,0.011027,0.011689,18447.827110,0.001415
...,...,...,...,...,...,...,...
2022-12-23,0.005845,0.000185,0.005660,0.015262,0.011730,26452.214663,0.000594
2022-12-27,-0.003071,0.000189,-0.003259,0.011383,0.011588,26467.357924,0.000590
2022-12-28,-0.012647,0.000187,-0.012834,0.011494,0.011676,26471.143739,0.000604
2022-12-29,0.017690,0.000187,0.017503,0.011876,0.012045,26474.929554,0.000603
2022-12-30,-0.002755,0.000188,-0.002942,0.011802,0.011977,26478.715370,0.000603

In [26]:
import yfinance as yf

ticker = '^VIX'  # Ticker symbol for S&P 500 VIX
start_date = '2016-01-01'
end_date = '2023-04-29'
VIX = yf.download(ticker, start=start_date, end=end_date)['Adj Close']

print(VIX)

[*********************100%***********************]  1 of 1 completed
Date
2016-01-04    20.700001
2016-01-05    19.340000
2016-01-06    20.590000
2016-01-07    24.990000
2016-01-08    27.010000
                ...
2023-04-24    16.889999
2023-04-25    18.760000
2023-04-26    18.840000
2023-04-27    17.030001
2023-04-28    15.780000
Name: Adj Close, Length: 1843, dtype: float64

In [27]:
import numpy as np

mf_portfolio['VIX'] = VIX
etf_portfolio['VIX'] = VIX
mf_portfolio

,Returns,rf,ExcessReturns,Volatility,VolSP,GDP,TrErr,VIX
2016-01-06,-0.014306,0.000027,-0.014333,0.012403,0.010448,18435.542868,NaN,20.590000
2016-01-07,-0.022714,0.000026,-0.022740,0.013239,0.012892,18437.590242,0.001772,24.990000
2016-01-08,-0.010822,0.000025,-0.010847,0.010812,0.010531,18439.637615,0.001265,27.010000
2016-01-11,-0.001097,0.000025,-0.001122,0.010387,0.010620,18445.779736,0.001356,24.299999
2016-01-12,0.005408,0.000025,0.005383,0.011027,0.011689,18447.827110,0.001415,22.469999
...,...,...,...,...,...,...,...,...
2022-12-23,0.005845,0.000185,0.005660,0.015262,0.011730,26452.214663,0.000594,20.870001
2022-12-27,-0.003071,0.000189,-0.003259,0.011383,0.011588,26467.357924,0.000590,21.650000
2022-12-28,-0.012647,0.000187,-0.012834,0.011494,0.011676,26471.143739,0.000604,22.139999
2022-12-29,0.017690,0.000187,0.017503,0.011876,0.012045,26474.929554,0.000603,21.440001
2022-12-30,-0.002755,0.000188,-0.002942,0.011802,0.011977,26478.715370,0.000603,21.670000

In [28]:
df['VIX'] = VIX
df

            ExcessReturns     VolSP  YieldCurve_pct_change        VIX
2016-01-06       0.001055  0.010448              -0.039024  20.590000
2016-01-07      -0.000303  0.012892              -0.005076  24.990000
2016-01-08      -0.000594  0.010531              -0.015306  27.010000
2016-01-11       0.000939  0.010620               0.025907  24.299999
2016-01-12       0.002389  0.011689              -0.040404  22.469999
...                   ...       ...                    ...        ...
2023-04-24       0.000056  0.008139              -1.095238  16.889999
2023-04-25       0.000874  0.008767              34.500000  18.760000
2023-04-26      -0.000747  0.008364              -0.323944  18.840000
2023-04-27      -0.001182  0.008859               0.541667  17.030001
2023-04-28      -0.000373  0.008446               0.229730  15.780000

[1827 rows x 4 columns]

In [29]:
df

            ExcessReturns     VolSP  YieldCurve_pct_change        VIX
2016-01-06       0.001055  0.010448              -0.039024  20.590000
2016-01-07      -0.000303  0.012892              -0.005076  24.990000
2016-01-08      -0.000594  0.010531              -0.015306  27.010000
2016-01-11       0.000939  0.010620               0.025907  24.299999
2016-01-12       0.002389  0.011689              -0.040404  22.469999
...                   ...       ...                    ...        ...
2023-04-24       0.000056  0.008139              -1.095238  16.889999
2023-04-25       0.000874  0.008767              34.500000  18.760000
2023-04-26      -0.000747  0.008364              -0.323944  18.840000
2023-04-27      -0.001182  0.008859               0.541667  17.030001
2023-04-28      -0.000373  0.008446               0.229730  15.780000

[1827 rows x 4 columns]

In [54]:
df = df.replace([np.inf, -np.inf], np.nan)  # replace 'inf' values with 'nan'
 # remove rows with 'nan' values
df = df.dropna()
df

            ExcessReturns     VolSP  YieldCurve_pct_change        VIX
2016-01-06       0.001055  0.010448              -0.039024  20.590000
2016-01-07      -0.000303  0.012892              -0.005076  24.990000
2016-01-08      -0.000594  0.010531              -0.015306  27.010000
2016-01-11       0.000939  0.010620               0.025907  24.299999
2016-01-12       0.002389  0.011689              -0.040404  22.469999
...                   ...       ...                    ...        ...
2023-04-24       0.000056  0.008139              -1.095238  16.889999
2023-04-25       0.000874  0.008767              34.500000  18.760000
2023-04-26      -0.000747  0.008364              -0.323944  18.840000
2023-04-27      -0.001182  0.008859               0.541667  17.030001
2023-04-28      -0.000373  0.008446               0.229730  15.780000

[1824 rows x 4 columns]

In [57]:
import statsmodels.api as sm

# Subset the DataFrame to include only the desired date range
start_date = '2016-01-01'
end_date = '2019-12-31'
df_subset = df.loc[start_date:end_date]

# Define your dependent variable (y) and your independent variables (X)
y = df_subset['ExcessReturns']
X = df_subset[['VIX','YieldCurve_pct_change']]

# Add a constant to the independent variables matrix (this is the intercept term)
X = sm.add_constant(X)

# Fit the model
model = sm.OLS(y, X)
results = model.fit()

# Print out the results 
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          ExcessReturns   R-squared:                       0.002
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     1.051
Date:                Sat, 03 Jun 2023   Prob (F-statistic):              0.350
Time:                        14:23:12   Log-Likelihood:                 5793.7
No. Observations:                 994   AIC:                        -1.158e+04
Df Residuals:                     991   BIC:                        -1.157e+04
Df Model:                           2
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
const                    -0.0001   8.34e-05     -1.766      0.078      -0.000    1.64e-05
VIX                     6.12e-06   5.45e-06      1.123      0.262   -4.57e-06    1.68e-05
YieldCurve_pct_change -2.491e-05   2.81e-05     -0.886      0.376   -8.01e-05    3.03e-05
==============================================================================
Omnibus:                       70.223   Durbin-Watson:                   2.511
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              315.812
Skew:                           0.076   Prob(JB):                     2.64e-69
Kurtosis:                       5.757   Cond. No.                         56.6
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [71]:
import statsmodels.api as sm

# Subset the DataFrame to include only the desired date range
start_date = '2017-01-01'
end_date = '2019-12-31'
df_subset = df.loc[start_date:end_date]

# Define your dependent variable (y) and your independent variables (X)
y = df_subset['ExcessReturns']
X = df_subset[[ 'VIX','YieldCurve_pct_change']]

# Add a constant to the independent variables matrix (this is the intercept term)
X = sm.add_constant(X)

# Fit the model
model = sm.OLS(y, X)
results = model.fit()

# Print out the results 
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          ExcessReturns   R-squared:                       0.002
Model:                            OLS   Adj. R-squared:                 -0.000
Method:                 Least Squares   F-statistic:                    0.9150
Date:                Sat, 03 Jun 2023   Prob (F-statistic):              0.401
Time:                        14:41:51   Log-Likelihood:                 4444.8
No. Observations:                 746   AIC:                            -8884.
Df Residuals:                     743   BIC:                            -8870.
Df Model:                           2
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
const                    -0.0001   8.27e-05     -1.487      0.137      -0.000    3.94e-05
VIX                    4.977e-06   5.53e-06      0.899      0.369   -5.89e-06    1.58e-05
YieldCurve_pct_change -2.426e-05   2.47e-05     -0.981      0.327   -7.28e-05    2.43e-05
==============================================================================
Omnibus:                       51.440   Durbin-Watson:                   2.283
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              191.566
Skew:                           0.182   Prob(JB):                     2.52e-42
Kurtosis:                       5.456   Cond. No.                         54.2
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.